* {
  
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}